body {
  font-famaily: Arial, Helvetica, sans-serif;
}

a:link {
  color: #575757;
  text-decoration: none; 
}

a:hover {
  color: red;
  text-decoration: none;
  border-bottom: none;
}

a {
  text-decoration: none;
  color: #575757;
  border-bottom: none;
}

.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  width: 80%;
  background-color: #f1f1f1;
  overflow: hidden;
}

.NavBar li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




  
